extends layout
block content
  section(class="clearfix")
    .col-xs-12.col-sm-6.col-md-6
      h2 Psychological centers
      .centerList
        +centerList("The title of the center",'psport4')
        +centerList("The title of the center",'centr')
        +centerList("The title of the center",'centr')
        +centerList("The title of the center",'psport4')
    .col-xs-12.col-sm-6.col-md-6
      h2 Psychologists
      .carousel
        +carouselPanel("The name of psychologist",'psport')
        +carouselPanel("The name of psychologist",'psport1')
        +carouselPanel("The name of psychologist",'psport2')
  section(class="clearfix")
    .col-xs-12.col-sm-6.col-md-6
      h2 New events for  scientists
      .ui.top.attached.tabular.menu
        a.item.active(data-tab="first").
          Latest conference
        a.item(data-tab="second").
          Latest in the library
      .ui.bottom.attached.tab.segment.active(data-tab="first")
        +eventsPanel()
      .ui.bottom.attached.tab.segment(data-tab="second").
        SecondSecondSecondSecond
    .col-xs-12.col-sm-6.col-md-6
      h2 Latest on the blog
      .tabs.carousel
        | text
