doctype html
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|(IE)]><!--><html lang="ru"><!--[endif]-->
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA_Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    meta(name="description" content="")
    meta(name="keywords" content="")
    meta(name="copyright" content="The base of psychologists and centers.codegrabber")
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    link(href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400" rel="stylesheet")
    link(rel="stylesheet", href="styles/font-awesome.min.css")
    link(rel="stylesheet", href="style.css")
  title Psybase
  body
    .wrapper
      include includes/_header
      include includes/_menu
      main
        .container-fluid
          .row
            block content
    include includes/_footer
    <!-- scripts -->
    <!--bower:js-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!--endbower-->
    <!--[if lt IE 9]>
    script(src="libs/html5shiv/html5shiv")
    script(src="libs/respond/respond.min.js")
    <![endif]-->
    script(src="js/all.js")
    script(src="js/common.js")


