*.msp
# Directories potentially created on remote AFP share
# Operating System Files
# Files that might appear in the root of a volume
Desktop.ini
# OSX
# =========================
/pages
.AppleDB
*.msi
*.msm
._*
# Windows shortcuts
# Windows image file caches
.VolumeIcon.icns
node_modules/
# Thumbnails
.AppleDesktop
# Windows Installer files
.LSOverride
.AppleDouble
*.cab
*.lnk
.Trashes
$RECYCLE.BIN/
.DocumentRevisions-V100
ehthumbs.db
# Project directories
.TemporaryItems
# Recycle Bin used on file shares
# Folder config file
Thumbs.db
Temporary Items
.DS_Store
.fseventsd
Network Trash Folder
.Spotlight-V100
.apdisk