footer
  .container-fluid
    .row
      .col-md-3.col-sm-6.col-xs-12
        .b_footer_widget
          h2
            |Psybase
            span.
              Psychologist centers of the world
          p.
            Description about the servise Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
          p
            i(class="fa fa-envelope" aria-hidden="true")
            |psybase@gmail.com

      .col-md-3.col-sm-6.col-xs-12
        .b_footer_widget
          h2.fw_title
            i(class="fa fa-tags" aria-hidden="true")
            |Tags
          ul
            li: a(href="#") footer
            li: a(href="#") footer
            li: a(href="#") footer
      .col-md-3.col-sm-6.col-xs-12
        .b_footer_widget
          h2.fw_title.
            footer
      .col-md-3.col-sm-6.col-xs-12
        .b_footer_widget
          h2.fw_title.
            Follow Us
