footer
  .container-fluid
    .row
      .col-md-3.col-sm-6.col-xs-12
        .b_footer
          p footer
      .col-md-3.col-sm-6.col-xs-12
        .b_footer
          ul
            li: a(href="#") footer
            li: a(href="#") footer
            li: a(href="#") footer
      .col-md-3.col-sm-6.col-xs-12
        .b_footer
          p footer
      .col-md-3.col-sm-6.col-xs-12
        .b_footer
          p footer
