include _mixins
header
  .top_line
  .top-header
    .container-fluid
      .row
        .col-xs-12.col-sm-6.col-md-6
          .top_block_menu
            +top_menu()
        .col-xs-12.col-sm-6.col-md-6
          .regist_block
            +regist_user()
  .logo_adver
    .container-fluid
      .row
        section
          .col-xs-12.col-sm-6.col-md-6
            h1.logo
             a(href="./").
              Psybase
             span.
                 Psychological centers of the world
          .col-xs-12.col-sm-6.col-md-6
            .top_banner.clearfix
                figure
                    .topban_slide
                        a(href="#")
                          img(src="images/banner.jpg", alt="banner")
                    .topban_slide
                        a(href="#")
                          img(src="images/banner.jpg", alt="banner")
                    .topban_slide
                        a(href="#")
                          img(src="images/banner.jpg", alt="banner")
