.ps_widget.clearfix.brdr
    .ui.top.attached.tabular.menu
        a.item.active(data-tab="first").
           Latest post
        a.item(data-tab="second").
           Popular post
    .ui.bottom.attached.tab.segment.active(data-tab="first").
        FirstFirstFirstFirstFirst
    .ui.bottom.attached.tab.segment(data-tab="second").
        SecondSecondSecondSecond
    .ui.bottom.attached.tab.segment(data-tab="third").
        ThirdThirdThirdThirdThird
.ps_widget.clearfix.brdr
    h2.
        hello

