header
  width: 100%
  margin: 0
  padding: 0
  .top_line
    background-color: $blue_col
    height: 5px
  .top-header
    padding: 0
    .top_menu
      margin: 10px auto
    .regist_block
      float: right
    .top_block_menu
      float: left
    .top_block_menu,
    .regist_block
      ul
        display: table
        margin: 0 auto
        li
          float: left
          display: block
          margin: 0 2px
          padding: 0 10px 6px 10px
          background-color: $blue_col
          a
            display: block
            color: $inver_col
            text-align: center
            font-family: 'Roboto', sans-serif
            font-weight: 400
            &:hover
              text-decoration: none
              color: $yell_col
          i
            margin-right: 5px
  .logo
    font-size: em(40px)
    width: 200px
    text-align: center
    img
      text-align: center
    a
      color: $font_menu
      text-transform: uppercase
      &:hover
        text-decoration: none
    span
      display: block
      text-transform: none
      font-size: em(8px)
      color: $bluehv_col
      font-weight: 200
  .top_banner
    overflow: hidden
    max-height: 80px
    margin: 1.67em 0
    background-image: url("images/banner.jpg")
    background-size: cover
    background-position: center
    .topban_slide
      img
        display: block
        margin: 0 auto
  .top_banner figure
    width: 500%
    position: relative
    margin: 0
    left: 0
    animation: 60s slidy infinite
  .top_banner figure div
    float: left
    width: 20%
  .top_banner figure img
    float: left
    max-width: 100%

@keyframes slidy
  0%
    left: 0%
  10%
    left: 0%
  12%
    left: -100%
  22%
    left: -100%
  24%
    left: -200%
  34%
    left: -200%
  36%
    left: -300%
  46%
    left: -300%
  48%
    left: -400%
  58%
    left: -400%
  60%
    left: -300%
  70%
    left: -300%
  72%
    left: -200%
  82%
    left: -200%
  84%
    left: -100%
  94%
    left: -100%
  96%
    left: 0%

